In [ ]:
!pip install jupyterlab_sql
!jupyter serverextension enable jupyterlab_sql --py --sys-prefix
jupyter lab build

### trying to give some input 
just press m to change code to markdown and y to change it again to code

**anjali  bold

# anjali  smaller than ## using

## anjali

In [2]:
import sqlalchemy as db

In [4]:
engine = db.create_engine('sqlite:///:memory:')

sql_dataframe   = pd.read_sql_table('my_table', engine, columns=['ColA', 'ColB'])
xls_dataframe   = pd.read_excel('my_dataset.xlsx', 'Sheet1', na_values=['NA', '?'])
json_dataframe  = pd.read_json('my_dataset.json', orient='columns')
csv_dataframe   = pd.read_csv('my_dataset.csv', sep=',')
table_dataframe = pd.read_html('http://page.com/with/table.html')[0]

Writing an existing dataframe back to disk is just as straightforward as reading from one:

my_dataframe.to_sql('table', engine)
my_dataframe.to_excel('dataset.xlsx')
my_dataframe.to_json('dataset.json')
my_dataframe.to_csv('dataset.csv')

In [23]:
import pandas as pd
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [38]:
df[satisfactions2]= pd.Categorical(df[], categories= ordered_satisfaction)

SyntaxError: invalid syntax (<ipython-input-38-ae7178f3ca0d>, line 1)

In [36]:
df[satisfactions2] = df.satisfaction.astype(dtype='category',ordered=True,categories= ordered_satisfaction)

C:\Users\hemanjali\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

TypeError: Must pass DataFrame or 2-d ndarray with boolean values only

In [30]:
x

0        Mad
1      Happy
2    Unhappy
3    Neutral
Name: satisfaction, dtype: category
Categories (4, object): [Happy, Mad, Neutral, Unhappy]

In [33]:
satisfactions2=pd.DataFrame(x,categories)

In [35]:
satisfactions2

ValueError: Must pass DataFrame with boolean values only