In [ ]:
!pip install jupyterlab_sql
!jupyter serverextension enable jupyterlab_sql --py --sys-prefix
jupyter lab build

### trying to give some input 
just press m to change code to markdown and y to change it again to code

**anjali  bold

# anjali  smaller than ## using

## anjali

In [2]:
import sqlalchemy as db

In [4]:
engine = db.create_engine('sqlite:///:memory:')

sql_dataframe   = pd.read_sql_table('my_table', engine, columns=['ColA', 'ColB'])
xls_dataframe   = pd.read_excel('my_dataset.xlsx', 'Sheet1', na_values=['NA', '?'])
json_dataframe  = pd.read_json('my_dataset.json', orient='columns')
csv_dataframe   = pd.read_csv('my_dataset.csv', sep=',')
table_dataframe = pd.read_html('http://page.com/with/table.html')[0]

Writing an existing dataframe back to disk is just as straightforward as reading from one:

my_dataframe.to_sql('table', engine)
my_dataframe.to_excel('dataset.xlsx')
my_dataframe.to_json('dataset.json')
my_dataframe.to_csv('dataset.csv')

In [23]:
import pandas as pd
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [39]:
df['satisfactions2'] = df.satisfaction.astype("category").cat.codes

In [40]:
df

  satisfaction  satisfactions2
0          Mad               1
1        Happy               0
2      Unhappy               3
3      Neutral               2

In [53]:
df['satisfactions3'] = df.satisfaction.astype("category")
df

  satisfaction  satisfactions2 satisfactions3
0          Mad               1            Mad
1        Happy               0          Happy
2      Unhappy               3        Unhappy
3      Neutral               2        Neutral